version: '2.0'
services: 
    redis:
        image: redis:alpine
        container_name: wechat-push-redis
        ports: 
            - "6379:6379"
    postgres:
        image: postgres:10-alpine
        container_name: wechat-push-postgres
        environment: 
            - POSTGRES_PASSWORD=RANDOM_PASSWORD
        ports: 
            - "5432:5432"
